<script src="../static/js/webfont.js"></script>
<script src="../static/js/snap.svg-min.js"></script>
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script src="../static/js/underscore-min.js"></script>
<script src="../static/js/sequence-diagram-min.js"></script>
 <meta http-equiv="refresh" content="5">

<!--<div id="diagram"></div>-->
<!--<script>-->
<!--  var diagram = Diagram.parse("A->B: Message");-->
<!--  diagram.drawSVG("diagram", {theme: 'hand'});-->
<!--</script>-->

<!--<div id="dataRaw"><div class="diagram">{{ data }}</div></div>-->

<div class="diagram">{{ data }}</div>

<!--<script>-->
<!--$("#search_form_input").keyup(function(){-->
<!--    var text = $(this).val();-->

<!--    $.ajax({-->
<!--      url: "/",-->
<!--      type: "get",-->
<!--      data: {jsdata: text},-->
<!--      success: function(response) {-->
<!--        $("#dataRaw").html(response);-->
<!--      },-->
<!--      error: function(xhr) {-->
<!--      console.log("error")-->
<!--        //Do Something to handle error-->
<!--      }-->
<!--    });-->
<!--});-->
<!--</script>-->

<script>
$(".diagram").sequenceDiagram({theme: 'simple'});
</script>